<h2>Hello. I'm Ajay</h2>
<p><img src="https://en.gravatar.com/userimage/36426655/1b979b95eee2734d59d3ae70116f6dd6.jpg" alt="Ajay Gupta" title="Follow me on Twitter @ajgupta_8"  class="img-rounded floatLeft" />			
I am a student for life, amateur software engineer, tech lover and a TV Series addict.  </p>					
<p><iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=ajgupta&repo=ajgupta.github.io&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="80px" height="20px"></iframe>&nbsp;<iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=ajgupta&repo=ajgupta.github.io&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="98px" height="20px"></iframe></p>
<p><a href="https://twitter.com/ajgupta_8" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true">Follow @ajgupta_8</a></p>
<p>
	<ul class="buttons unstyled">
	  <li><a href="http://github.com/ajgupta" rel="me" class="social github" title="Go to github.com/ajgupta" target="_blank"></a></li>
	  <li><a href="http://in.linkedin.com/in/ajaygupta200/" rel="me" class="social linkedin" title="Go to LinkedIn profile" target="_blank"></a></li>
	  <li><a href="http://www.twitter.com/ajgupta_8" rel="me" class="social twitter" title="Go to twitter.com/erjjones" target="_blank"></a></li>
	  <li><a href="http://feeds.feedburner.com/ajaygupta" rel="me" class="social rss" title="Go to feedburner ajgupta rss feed" target="_blank"></a></li>
	  <li><a href="https://plus.google.com/u/0/+AjayGuptaIndia/posts" rel="me" class="social gplus" title="Go to Google Plus profile" target="_blank"></a></li> 
	  <li><a href="https://github.com/ajgupta/Feedback/issues/new" rel="me" class="social mail" title="Leave feedback for Ajay"  target="_blank"></a></li>				
	</ul>
</p>
<p>
	<script src="http://platform.linkedin.com/in.js" type="text/javascript"></script>
	<script type="IN/MemberProfile" data-id="http://in.linkedin.com/in/ajaygupta200/"
	data-format="inline"></script>
</p>
