<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
	<div class="container">
	  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </a>
	  <a class="brand" href="http://ajay-gupta.com">Ajay Gupta</a>
	  <div class="nav-collapse">
		<ul class="nav">		  
		  <li class="">
			<a href="http://ajay-gupta.com">Home</a>
		  </li>
		  <li class="divider-vertical"></li>
		  <li class="">
			<a href="http://github.com/ajgupta" target="_blank">GitHub</a>
		  </li>
		  <li class="divider-vertical"></li>
		  <li class="">
			<a href="https://plus.google.com/u/0/+AjayGuptaIndia/posts" title="Go to Google+" target="_blank">Google+</a>
		  </li>		
		  <li class="divider-vertical"></li>
		  <li class="">
			<a href="http://in.linkedin.com/in/ajaygupta200/" title="Go to linkedin profile" target="_blank">LinkedIn</a>
		  </li>		
		  <li class="divider-vertical"></li>
		  <li class="">
			<a href="http://www.twitter.com/ajgupta_8" title="Go to twitter.com/ajgupta_8" target="_blank">Twitter</a>  
		  </li>				  			  
		  <li class="divider-vertical"></li>
		  <li class="">
			<a href="http://feeds.feedburner.com/ajaygupta" title="Go to feedburner" target="_blank">RSS</a>  
		  </li>	
		  <li class="divider-vertical"></li>
		  <li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Projects<b class="caret"></b></a>
				<ul class="dropdown-menu">					
					<li class=""><a href="https://github.com/ajgupta/ajgupta.github.io" title="Go to ajgupta.github.io on GitHub" target="_blank">ajgupta.github.io</a></li>	
				</ul>
			  </li>		  
		
		</ul>		
	  </div>
	</div>
  </div>
</div>
